html {
  scroll-behavior: smooth;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}